html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    min-width: 320px;

    padding: 0;
    margin: 0;

    background-color: #222222;

    
    
}

/*HEADER GENERAL CONTAINER*/
header {

    width: 100%;
    height: 500px;

    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/0bd3a69d-6790-4edc-9818-1c8c558946c2/21e486c0-216d-48fe-80a1-08a9ea4003fb/CO-es-20220329-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 90px 100px black;
    





}

/* HEADER TOP PART - LOGO LANGUAGE AND SIGNIN */

.header__top-container { /*LOGO LANG BUTTON CONTAINER */
    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;


    padding: 30px 15px 0 15px;
}

.top-container__item { /* ITEMS (LOGO, LANG BUTTON) */
    display: inline-block;
}


.top-container__logo { /* LOGO CONTAINER */

    width: 89px;
    height: 24px;
    
  

    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Netflix_logo.svg/300px-Netflix_logo.svg.png?20220318121227');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container-right-side { /*CONTAINER LANG AND LOGIN */
/*nothing here yet*/
    
}

.top-container__menulang { /* CONTAINER DIV OF SELECT ITEMS FOR LANGUAGE*/
    width: 89px;
    height: 30px;
    border: 1px solid white;
    margin-right: 10px;
  
    
}

.top-container__menulang::before{ /* TRYING TO PUT THE GLOBE BEFORE THE LANGUAGE OPTION*/
    content: '';

    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;

    top: 3px;
    left: 4px;



    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ae/Globe_icon-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

.menulang-container { /* SELECT CONTAINER OPTIONS */
    display: inline-block;
    position: relative;

    right: -5px;
    width: 65%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 0;
}



.option-lang { /*OPTIONS OF SELECT*/
    background-color: #222222;
    border: none;
}




.top-container__login { /*DIV CONTAINER FOR BUTTON*/
    width: 89px;
    height: 24px;

    background-color: red;

    padding: 4px 0;
    text-align: center;
    vertical-align: top;

    

    border-radius: 4px;
  
    
}


.login-anchor { /* ANCHOR BUTTON*/

    display: inline-block;
    
  

    font-size: 1.2rem;
    font-weight: bold;
    color: white;
   
    text-decoration: none;
    text-align: center;
}





